html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="submit"],
input[type="button"],
input[type="search"],
button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0 !important; }

.clearfix:after {
  clear: both;
  height: 0;
  display: block;
  content: ""; }

.table-block {
  display: table;
  width: 100%;
  height: 100%; }

.block-vertical {
  display: table-cell;
  vertical-align: middle; }

.block-bottom {
  display: table-cell;
  vertical-align: bottom; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: 'P22UndergroundCYProBook';
  src: url("../fonts/P22UndergroundCYProBook.eot");
  src: url("../fonts/P22UndergroundCYProBook.eot") format("embedded-opentype"), url("../fonts/P22UndergroundCYProBook.woff2") format("woff2"), url("../fonts/P22UndergroundCYProBook.woff") format("woff"), url("../fonts/P22UndergroundCYProBook.ttf") format("truetype"), url("../fonts/P22UndergroundCYProBook.svg#P22UndergroundCYProBook") format("svg"); }

@font-face {
  font-family: 'P22UndergroundCYProMedium';
  src: url("../fonts/P22UndergroundCYProMedium.eot");
  src: url("../fonts/P22UndergroundCYProMedium.eot") format("embedded-opentype"), url("../fonts/P22UndergroundCYProMedium.woff2") format("woff2"), url("../fonts/P22UndergroundCYProMedium.woff") format("woff"), url("../fonts/P22UndergroundCYProMedium.ttf") format("truetype"), url("../fonts/P22UndergroundCYProMedium.svg#P22UndergroundCYProMedium") format("svg"); }

@font-face {
  font-family: 'P22UndergroundCYProDemi';
  src: url("../fonts/P22UndergroundCYProDemi.eot");
  src: url("../fonts/P22UndergroundCYProDemi.eot") format("embedded-opentype"), url("../fonts/P22UndergroundCYProDemi.woff2") format("woff2"), url("../fonts/P22UndergroundCYProDemi.woff") format("woff"), url("../fonts/P22UndergroundCYProDemi.ttf") format("truetype"), url("../fonts/P22UndergroundCYProDemi.svg#P22UndergroundCYProDemi") format("svg"); }

@font-face {
  font-family: 'MinionProMediumItalic';
  src: url("../fonts/MinionProMediumItalic.eot");
  src: url("../fonts/MinionProMediumItalic.eot") format("embedded-opentype"), url("../fonts/MinionProMediumItalic.woff2") format("woff2"), url("../fonts/MinionProMediumItalic.woff") format("woff"), url("../fonts/MinionProMediumItalic.ttf") format("truetype"), url("../fonts/MinionProMediumItalic.svg#MinionProMediumItalic") format("svg"); }

@font-face {
  font-family: 'arabic';
  src: url("../fonts/arabic.eot");
  src: url("../fonts/arabic.eot") format("embedded-opentype"), url("../fonts/arabic.woff2") format("woff2"), url("../fonts/arabic.woff") format("woff"), url("../fonts/arabic.ttf") format("truetype"), url("../fonts/arabic.svg#arabic") format("svg"); }

@font-face {
  font-family: 'CorkiRounded';
  src: url("../fonts/ofont_ru_CorkiRounded.eot");
  src: url("../fonts/ofont_ru_CorkiRounded.eot") format("embedded-opentype"), url("../fonts/ofont_ru_CorkiRounded.woff2") format("woff2"), url("../fonts/ofont_ru_CorkiRounded.woff") format("woff"), url("../fonts/ofont_ru_CorkiRounded.ttf") format("truetype"), url("../fonts/ofont_ru_CorkiRounded.svg#ofont_ru_CorkiRounded") format("svg"); }

@font-face {
  font-family: 'DomCasualNormal';
  src: url("../fonts/1862.eot");
  src: url("../fonts/1862.eot") format("embedded-opentype"), url("../fonts/1862.woff2") format("woff2"), url("../fonts/1862.woff") format("woff"), url("../fonts/1862.ttf") format("truetype"), url("../fonts/1862.svg#1862") format("svg"); }

@font-face {
  font-family: 'SFUIDisplayLight';
  src: url("../fonts/SFUIDisplayLight.eot");
  src: url("../fonts/SFUIDisplayLight.eot") format("embedded-opentype"), url("../fonts/SFUIDisplayLight.woff2") format("woff2"), url("../fonts/SFUIDisplayLight.woff") format("woff"), url("../fonts/SFUIDisplayLight.ttf") format("truetype"), url("../fonts/SFUIDisplayLight.svg#SFUIDisplayLight") format("svg"); }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  height: auto; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 50; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: left; }

.bx-wrapper .bx-pager.bx-default-pager a,
.owl-dot {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  border: 2px solid #bebebe;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #f86400;
  border-color: transparent; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  outline: 0;
  width: 100px;
  height: 100%;
  top: 0;
  text-indent: -9999px;
  z-index: 99; }

.bx-next {
  background: url(../img/works-next.png) no-repeat 50%;
  right: 0; }
  .bx-next:hover {
    background: url(../img/works-next-active.png) no-repeat 50%; }

.bx-prev {
  background: url(../img/works-prev.png) no-repeat 40%;
  left: 0; }
  .bx-prev:hover {
    background: url(../img/works-prev-active.png) no-repeat 40%; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  display: none; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-prev,
.owl-next {
  display: block;
  width: 17px;
  height: 28px;
  position: absolute;
  z-index: 2;
  top: 45%;
  margin-top: -26px;
  text-indent: -9999px; }

.owl-prev {
  left: 10px;
  background: url(../img/owl-prev.png) no-repeat; }

.owl-next {
  right: 10px;
  background: url(../img/owl-next.png) no-repeat; }

.owl-dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #bebebe;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 6px; }
  .owl-dot.active {
    border-color: #da6417;
    background: #da6417; }

.owl-dots {
  text-align: center;
  padding-top: 15px; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; } }

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../img/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../img/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  overflow: visible !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010; }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  color: #3c2313; }

b,
strong {
  font-weight: bold; }

i {
  font-style: italic; }

h1 {
  font-size: 51px; }

h2 {
  font-size: 42px; }

h3 {
  font-size: 32px; }

.middle {
  display: inline-block;
  vertical-align: middle; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.wrapper--blur {
  -webkit-filter: blur(10px);
  filter: blur(10px); }

.header {
  background: url(../img/header-bg.jpg) no-repeat 50%;
  background-size: cover; }
  .header__wrapp {
    max-width: 830px;
    margin: auto; }
  .header__profile {
    height: 175px; }
  .header__contacts {
    height: 175px; }
  .header__telephone {
    font-size: 24px;
    color: #3c2313;
    font-family: "P22UndergroundCYProDemi";
    margin-bottom: 20px; }
  .header__title {
    font-family: "P22UndergroundCYProMedium";
    margin-top: 35px; }
    .header__title a {
      color: #db4001;
      text-transform: uppercase;
      text-decoration: underline; }

.basket {
  font-family: "P22UndergroundCYProBook";
  font-size: 18px;
  color: #3c2313; }
  .basket__icon {
    width: 21px;
    height: 21px;
    background: url(../img/basket-icon.png) no-repeat; }
    .basket__icon_white {
      background: url(../img/basket-icon-white.png) no-repeat; }
  .basket__name {
    margin-left: 15px; }
  .basket__count {
    width: 30px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background: #db4001;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    font-family: "P22UndergroundCYProBook"; }
  .basket__price {
    margin-left: 20px; }

.call-btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  color: #3c2313;
  font-family: "P22UndergroundCYProBook";
  border: 1px solid #db4001;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .call-btn:hover {
    color: #fff;
    background: #db4001; }

.banner {
  height: 867px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover; }
  .banner__text {
    text-align: center;
    color: #fff; }
    .banner__text h1 {
      font-family: "P22UndergroundCYProDemi";
      text-transform: uppercase; }
    .banner__text h2 {
      font-family: "MinionProMediumItalic"; }

.scroll-btn {
  display: inline-block;
  width: 83px;
  height: 83px;
  margin-top: 115px;
  background: url(../img/scroll-btn.png) no-repeat; }

img {
  max-width: 100%;
  height: auto; }

.about {
  background: url(../img/bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-top: 100px; }
  .about__wrapp {
    padding-left: 550px;
    position: relative;
    padding-bottom: 105px; }
  .about__img {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0; }
  .about__icon {
    width: 70px;
    text-align: center; }
  .about__info {
    padding-left: 30px;
    padding-right: 40px;
    line-height: 1.5; }
  .about h3 {
    text-transform: uppercase;
    font-family: "P22UndergroundCYProDemi";
    color: #000; }
  .about__text {
    font-size: 15px;
    font-weight: 300;
    color: #000; }
  .about__list {
    margin-top: 105px; }
    .about__list li + li {
      margin-top: 60px; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.catalog {
  padding-top: 100px;
  padding-bottom: 55px;
  background: url(../img/cat-bg.jpg); }
  .catalog__content {
    background: #fff; }
  .catalog__filter {
    padding: 40px; }
    .catalog__filter__wrapp {
      border-bottom: 1px solid #e5e1db;
      padding-bottom: 15px; }
    .catalog__filter__item {
      font-size: 14px;
      text-transform: uppercase;
      color: #000;
      font-family: "P22UndergroundCYProMedium"; }
      .catalog__filter__item:hover, .catalog__filter__item.active {
        color: #5da429; }

.product-sale {
  padding: 40px;
  background: url(../img/sale-bg.jpg) no-repeat 50%;
  background-size: cover; }

.product-list {
  margin-left: -7px; }

.product-block {
  padding-left: 7px; }

.product-item {
  background: #fff;
  padding: 10px;
  padding-bottom: 15px; }
  .product-item:hover {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(143, 111, 87, 0.21);
    box-shadow: 0px 4px 5px 0px rgba(143, 111, 87, 0.21); }

.product-img {
  position: relative;
  height: 255px;
  margin-bottom: 25px;
  text-align: center; }

.product-name {
  text-align: center;
  text-transform: uppercase;
  font-family: "P22UndergroundCYProMedium";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .product-name a {
    color: #000; }
    .product-name a:hover {
      color: #db4001; }
  .product-name:after {
    content: "";
    width: 34px;
    height: 5px;
    display: block;
    margin: 5px auto;
    background: url(../img/delimiter.png) no-repeat; }

.product-size {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 10px; }

.product-basket {
  text-align: center; }
  .product-basket__btn {
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #000;
    background: #fff; }
    .product-basket__btn_large {
      font-size: 21px;
      margin-left: 5px; }
  .product-basket__icon {
    width: 19px;
    height: 17px;
    margin-right: 5px;
    background: url(../img/p-basket.png) no-repeat; }
    .product-basket__icon_large {
      width: 27px;
      height: 23px;
      background: url(../img/p-basket-large.png) no-repeat; }

.prev-price {
  color: #a6a6a6;
  text-decoration: line-through;
  margin-left: 5px; }

.sale-label {
  width: 50px;
  height: 59px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "P22UndergroundCYProDemi";
  padding-top: 14px;
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 7px;
  background: url(../img/label-bg.png) no-repeat; }

.block-title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: "P22UndergroundCYProDemi";
  margin-bottom: 40px; }
  .block-title_adv {
    margin-bottom: 60px; }
  .block-title_delivery {
    margin-bottom: 80px; }
  .block-title_left {
    text-align: left; }
  .block-title_white {
    color: #fff; }
  .block-title i {
    font-size: 42px;
    font-family: "MinionProMediumItalic";
    text-transform: none; }

.select {
  position: relative;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000; }
  .select_large {
    font-size: 21px; }

.slct {
  display: block;
  width: 80px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; }
  .slct:after {
    content: "";
    cursor: pointer;
    width: 30px;
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    cursor: pointer;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #d6d6d6;
    background: url(../img/select-arrow.png) no-repeat 50%; }
  .slct_large {
    width: 120px;
    font-size: 18px;
    font-size: 21px; }
    .slct_large:after {
      width: 40px; }

.drop {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-top: none;
  display: none;
  position: absolute;
  z-index: 5;
  background: #fff;
  font-size: 14px; }
  .drop li {
    cursor: pointer;
    padding: 5px 10px; }
    .drop li:hover {
      background: #d6d6d6; }

.product-view {
  padding: 40px; }
  .product-view + .product-view {
    padding-top: 0; }

.show-more {
  margin-top: 40px;
  text-align: center;
  position: relative; }
  .show-more:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e1db;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -0.5px; }
  .show-more__item {
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
    position: relative;
    z-index: 2; }
  .show-more__btn {
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #db4001;
    color: #fff;
    font-size: 16px;
    font-family: "P22UndergroundCYProBook"; }
    .show-more__btn:hover {
      background: #a83101; }

.ta-center {
  text-align: center; }

.btn-orange {
  display: inline-block;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #db4001;
  color: #fff;
  font-size: 16px;
  font-family: "P22UndergroundCYProBook";
  border: 0;
  outline: 0;
  cursor: pointer; }
  .btn-orange:hover {
    background: #a83101; }

.recipe {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px; }
  .recipe .block-title {
    line-height: 1.5; }
  .recipe__content {
    max-width: 960px;
    margin: auto; }
  .recipe__info {
    font-family: "P22UndergroundCYProMedium";
    line-height: 2.5;
    font-size: 16px;
    margin-bottom: 60px;
    text-transform: uppercase; }

.advantages {
  background: url(../img/bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative; }
  .advantages__list {
    margin-left: -10px;
    position: relative;
    z-index: 2; }
  .advantages__block {
    padding-left: 10px; }
  .advantages__item {
    background: url(../img/cat-bg.jpg) no-repeat 50%;
    background-size: cover;
    text-align: center;
    height: 325px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
    .advantages__item b {
      font-weight: 600; }
  .advantages__img {
    height: 180px; }
  .advantages__text {
    color: #000;
    padding: 0 25px;
    line-height: 1.5; }

.info {
  height: 777px;
  position: relative;
  background: url(../img/salad.jpg) no-repeat 50%;
  background-size: cover; }
  .info__text {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 296px;
    background: url(../img/info-bg.png) no-repeat 50% 0;
    background-size: cover;
    font-size: 22px;
    font-family: "MinionProMediumItalic";
    color: #000;
    padding-top: 100px;
    text-align: center;
    line-height: 1.5; }
    .info__text p {
      max-width: 580px;
      margin: auto; }

.top {
  display: inline-block;
  vertical-align: top; }

.certificates {
  background: url(../img/cert-bg.jpg) no-repeat 50%;
  background-size: cover; }
  .certificates__text {
    max-width: 555px;
    height: 315px;
    text-align: left;
    margin-left: 90px; }
  .certificates__icon {
    position: relative;
    z-index: 2;
    top: -30px; }
  .certificates__content {
    text-align: center; }
  .certificates__prices__item {
    font-size: 22px;
    color: #97e63f; }
    .certificates__prices__item span {
      font-family: "arabic";
      font-size: 50px; }

.delivery {
  background: url(../img/bg.jpg) no-repeat 50%;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 105px;
  position: relative;
  overflow: hidden; }
  .delivery__bottom-text {
    font-size: 22px;
    font-family: "MinionProMediumItalic";
    color: #5da429; }
  .delivery__content {
    margin-left: -25px;
    position: relative;
    z-index: 2; }
  .delivery__price {
    font-size: 22px;
    color: #5da429;
    font-family: "P22UndergroundCYProBook"; }
  .delivery__status {
    font-family: "MinionProMediumItalic";
    font-size: 22px;
    margin-bottom: 20px; }
  .delivery__block {
    padding-left: 25px; }
  .delivery__item {
    height: 509px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/delivery-bg.png) no-repeat;
    text-align: center;
    color: #000; }
    .delivery__item__text {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      margin-bottom: 35px; }
    .delivery__item__title {
      text-transform: uppercase;
      font-family: "P22UndergroundCYProMedium";
      height: 130px;
      font-size: 20px;
      padding-top: 55px; }
    .delivery__item__info {
      background: #fff;
      height: 360px;
      padding: 30px;
      line-height: 1.4; }

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .btn-green {
    color: #fff;
    font-size: 18px;
    font-family: "P22UndergroundCYProBook";
    background: #5da429; }
    .btn-green:hover {
      background: #467b1f; }

.footer {
  background: url(../img/footer.jpg) no-repeat 50%;
  background-size: cover;
  color: #fff; }
  .footer-logo {
    height: 175px; }
  .footer .basket {
    color: #fff; }
  .footer .header__telephone {
    color: #fff; }
  .footer .header__title a {
    color: #c5e434;
    text-decoration: none; }
  .footer .call-btn {
    color: #fff;
    border-color: #c5e434; }
    .footer .call-btn:hover {
      background: #c5e434; }

.modal-item {
  display: none; }

.callback-popup {
  position: relative;
  max-width: 100%;
  background-color: #fff;
  z-index: 1001;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ecab7d;
  -webkit-box-shadow: 0 2px 7px rgba(150, 90, 48, 0.77);
  box-shadow: 0 2px 7px rgba(150, 90, 48, 0.77);
  padding: 0 30px 50px;
  width: 400px;
  padding: 20px;
  background-position: center center; }

.callback-popup .h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding: 0px 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "arabic"; }

.callback-popup label input,
.callback-popup label textarea {
  width: 100%;
  text-align: center;
  border: none;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 17px;
  font-family: "Open Sans", sans-serif;
  height: 49px;
  border: 1px solid #cab5a3;
  border-radius: 5px;
  font-size: 18px;
  color: #3a3a3a;
  -webkit-box-shadow: inset 0 1px 3px rgba(150, 90, 48, 0.29);
  box-shadow: inset 0 1px 3px rgba(150, 90, 48, 0.29); }

.callback-popup label {
  display: block;
  text-align: center;
  margin-bottom: 20px; }

.order-panel {
  position: fixed;
  width: 100%;
  max-width: 900px;
  left: 50%;
  bottom: 0;
  -webkit-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(109, 76, 48, 0.5);
  box-shadow: 0 0 20px 0 rgba(109, 76, 48, 0.5);
  z-index: 500;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  will-change: transform;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out; }

.order-panel__box {
  position: relative;
  padding: 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.order-panel__cart {
  position: absolute;
  min-width: 25px;
  left: 37px;
  margin-right: 0;
  background-color: #ff5d3c;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in .2s;
  transition: all .3s ease-in .2s; }

.order-panel__cart-ratio {
  padding-top: 100%;
  height: 0; }

.order-panel__cart-total {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #fff;
  text-indent: -1px;
  font-weight: 600;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.order-panel__cost {
  display: none;
  padding-right: 20px;
  color: #312721;
  font-size: 16px;
  line-height: 1.25;
  text-align: left; }

.btn {
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  background-color: #b2c543;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  outline: 0;
  font-weight: 600;
  line-height: 3;
  text-transform: uppercase; }
  .btn:hover {
    background: #99ae21; }

.btn--lg,
.btn--reg {
  width: 250px; }

.modal-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(109, 76, 48, 0.5);
  box-shadow: 0 0 20px 0 rgba(109, 76, 48, 0.5);
  padding: 35px 40px;
  top: 20%; }

.section-title {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  color: #6d4c30;
  font-size: 35px;
  font-family: "CorkiRounded";
  font-weight: 400;
  line-height: .88;
  text-align: center; }

.step-level ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0 30px; }

.step-level__item {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  font-size: 30px;
  color: #e0e0e0;
  border: 2px solid #e1e1e1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  line-height: 1.5; }
  .step-level__item--active {
    border: 2px solid #ff7b00;
    color: #ff7b00; }

.step-level__text {
  display: block;
  text-align: center;
  color: #e0e0e0;
  font-size: 12px;
  margin-top: 5px; }

.modal__heading {
  margin-bottom: 35px;
  text-align: center; }

.modal_picture {
  width: 78px;
  height: 60px;
  margin: 0; }

.modal_wash, .modal_wash--active {
  width: 28px;
  height: 40px;
  display: block;
  background-repeat: no-repeat; }

.modal_picture img {
  max-width: 100%; }

.modal_wash {
  background-image: url(../img/icons/kran-inactive.svg);
  margin: 0 auto; }

.modal_wash--active {
  background-image: url(../img/icons/kran-active.svg); }

.modal_product-title h4 {
  color: #2d2824;
  font-family: "DomCasualNormal";
  font-size: 26px;
  font-weight: 400;
  line-height: .92; }

.modal_tth {
  color: #777;
  font-size: 15px;
  line-height: 1.13;
  font-weight: 400; }

.modal_price, .modal_weight {
  color: #2d2824;
  font-weight: bold;
  line-height: 1.67;
  font-size: 16px; }

.modal_weight {
  position: relative;
  -webkit-flex-basis: 65px;
  -ms-flex-preferred-size: 65px;
  flex-basis: 65px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center; }

.modal_price {
  -webkit-flex-basis: 92px;
  -ms-flex-preferred-size: 92px;
  flex-basis: 92px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: right; }

.modal_icon {
  max-width: 65px;
  -webkit-flex-basis: 65px;
  -ms-flex-preferred-size: 65px;
  flex-basis: 65px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px); }

.modal_total {
  margin-top: 18px;
  -webkit-flex-basis: 290px;
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  display: none; }

.modal_kassa {
  width: 291px;
  height: 20px;
  padding: 5px;
  background-color: #c8b2a2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.modal_kassa--inner {
  width: 281px;
  height: 10px;
  margin: 0 auto;
  background-color: #3f3932;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.modal_check {
  position: absolute;
  width: 270px;
  top: 9px;
  left: 50%;
  margin-left: -135px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -4px 4px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 20px; }

.modal_check-total li:after, .modal_check:after, .modal_check:before {
  content: '';
  left: 0;
  width: 100%; }

.modal_check:before {
  position: absolute;
  top: 0;
  height: 11px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(#3b352f));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), #3b352f);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #3b352f); }

.modal_check:after {
  position: absolute;
  height: 15px;
  bottom: 0; }

.modal_anymore {
  margin-top: 30px;
  text-align: center;
  display: none; }

.modal .section-title {
  padding-top: 0;
  padding-bottom: 10px; }

.modal .number {
  min-width: 105px;
  padding-right: 0; }

.minus, .plus {
  display: inline-block;
  background-position: 0 0;
  cursor: pointer;
  vertical-align: top; }

.minus,
.plus {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #ea4b2f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.modal .minus,
.modal .number:hover .minus,
.modal .number:hover .number__text,
.modal .number:hover .plus {
  opacity: 1; }

.modal .plus {
  opacity: 1; }

.modal_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.modal_detailes {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.modal_row {
  padding: 9px 0;
  border-bottom: 1px solid rgba(229, 207, 177, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.modal_row--title {
  color: #2d2824;
  font-size: 10px;
  font-weight: 300;
  display: none; }

.modal_desc {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 10px; }

.modal_product-title {
  margin-left: 10px; }

.modal_title-price {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 92px;
  -ms-flex-preferred-size: 92px;
  flex-basis: 92px;
  text-align: center; }

.modal_title-total {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 65px;
  -ms-flex-preferred-size: 65px;
  flex-basis: 65px;
  text-align: center; }

.modal_title-wash {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 40px;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px; }

.modal_check-total ul {
  position: relative;
  margin: 20px 0 0;
  padding: 0 0 20px;
  list-style-type: none;
  border-bottom: 1px solid #e1e1e1; }

.modal_check-total li {
  position: relative;
  margin-bottom: 5px; }

.modal_check-total li:after {
  position: absolute;
  bottom: 8px;
  height: 2px;
  border-top: 1px dotted #ccc;
  z-index: 1; }

.modal_check-order {
  color: #6d4c30;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.modal_check-order--total {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  color: #3a3a3a;
  font-size: 18px; }

.modal_check-order-title, .modal_check-title {
  padding-right: 5px;
  font-weight: 300;
  color: #2d2824; }

.modal_check-order-price, .modal_check-price {
  padding-left: 5px;
  z-index: 5;
  position: relative;
  background-color: #fff; }

.modal_check-title {
  max-width: 100%;
  position: relative;
  font-size: 15px;
  line-height: 1.13;
  background-color: #fff;
  z-index: 5; }

.modal_check-price {
  font-size: 18px;
  color: #2d2824;
  line-height: 1.3; }

.modal_check-order-title {
  position: relative;
  font-size: 16px;
  line-height: 1.13;
  background-color: #fff;
  z-index: 5; }

.modal_check-order-price {
  font-size: 20px;
  line-height: .9;
  text-align: right;
  color: #2d2824;
  font-weight: bold; }

.modal_check-order_form .promo-cod, .modal_check-order_form input {
  font-size: 20px;
  line-height: 1.2;
  color: #2d2824;
  font-weight: 300;
  letter-spacing: .6px; }

.modal_check-order_form {
  padding: 30px 20px 0;
  position: relative; }

.modal_check-order_form .btn--lg {
  width: 100%; }

.modal_check-order_form input {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 15px 0 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e1e1e1; }

.modal_check-order_form .field_ok {
  border: 1px solid #b2c543; }

.modal_check-order_form .field_invalid {
  border: 1px solid #ff5d3c; }

.modal_check-order_form .field_invalid + span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  right: 15px; }

.modal_check-order_form #before[required] + label:before,
.modal_check-order_form .field_invalid + span:before {
  content: "";
  top: 17px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat; }

.modal_check-order_form .field_invalid + span:before {
  position: absolute; }

.modal_check-order_form .promo-cod {
  position: relative;
  padding: 0 20px 0 10px; }

.modal_check-order_form #before {
  padding: .6em 2.6em .6em .3em;
  vertical-align: middle; }

.modal_check-order_form #before[required] + label {
  position: absolute;
  display: inline-block;
  vertical-align: middle; }

.modal_check-order_form #before[required] + label:before {
  position: absolute; }

.animate-pulse:after, .custom-select-trigger:after, .hightliter:before, .nav-box:after {
  content: ''; }

.modal_check-order_end {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #777; }

.total_mobile {
  display: block; }

.number__text {
  position: absolute;
  width: 100%;
  display: block;
  cursor: pointer;
  top: 30px;
  left: 0;
  font-family: "SFUIDisplayLight";
  font-size: 10px;
  color: #ff7b00;
  opacity: 0; }

.modal_check-order-title {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.13;
  background-color: #fff;
  z-index: 5; }

.modal_check-price {
  font-size: 18px;
  color: #2d2824;
  line-height: 1.3;
  font-weight: bold; }

.form-order-step {
  max-width: 490px;
  margin: 0 auto; }

.form label {
  position: relative;
  display: block;
  min-width: 130px;
  height: auto;
  top: 0;
  left: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: .6px;
  color: #2d2824;
  cursor: pointer;
  text-align: left; }

.form .field {
  width: 100%;
  height: 40px;
  display: block;
  margin: 0 auto 20px;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 1.2;
  color: #2d2824;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #e1e1e1;
  outline: 0; }
  .form .field:focus {
    border: 1px solid #2d2824; }

.form_group {
  position: relative;
  width: 100%; }

.form_home-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.form_home-row .form_group {
  width: 90px; }

.form .field_message {
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none; }

.form-select {
  width: 285px;
  height: 40px;
  display: block;
  margin: 0 0 20px;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 1.2;
  color: #2d2824;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  outline: 0;
  -moz-appearance: none;
  text-indent: 0.01px;
  font-family: "Open Sans", sans-serif;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  -webkit-appearance: none !important;
  appearance: none !important; }

select::-ms-expand {
  display: none; }

.modal_close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url(../img/Icon_Close.svg);
  background-repeat: no-repeat;
  background-size: cover; }

.certificates__icon img {
  -webkit-animation: shake 1.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  animation: shake 1.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

@-webkit-keyframes shake {
  10%, 50% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 50% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

.step-level__item--green {
  border: 2px solid #b2c543;
  color: #b2c543; }

.step-level__text--active {
  font-size: 14px;
  text-align: center;
  color: #2d2824; }

#certificatesPopup {
  position: relative;
  background: white;
  background-image: url(../img/bg.jpg);
  color: black;
  background-position: center center;
  padding: 60px 0; }

.certificates-modal {
  width: 1140px; }

.certificates-modal h2 {
  font-family: "arabic";
  margin-bottom: 30px;
  font-size: 62px;
  text-transform: uppercase;
  text-align: center; }

.certificates-modal .col {
  width: 33.333%;
  float: left;
  text-align: center; }

.certificates__item {
  cursor: pointer;
  position: relative;
  margin-bottom: 30px; }
  .certificates__item:hover img {
    -webkit-filter: brightness(40%) blur(1px);
    filter: brightness(40%) blur(1px); }
  .certificates__item img {
    -webkit-transition: -webkit-filter .4s;
    transition: -webkit-filter .4s;
    transition: filter .4s;
    transition: filter .4s, -webkit-filter .4s; }
  .certificates__item span {
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    color: white;
    font-size: 62px;
    font-family: "arabic";
    text-transform: uppercase;
    line-height: 47px; }

.btn--orange {
  background-color: #DB4001;
  text-transform: none; }
  .btn--orange:hover {
    background: #fe7a44; }
